<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <h1>Welcome to <%= title %>!</h1>
</head>
<body>
    <h1>Welcome to the homepage</h1>
    <p>This is a simple homepage for this project</p>
    <p><a href="/login">Login</a></p>


    <p><a href="/">Go to homepage</a></p>
</body>

</html>